{% extends "base.html" %}
{% block title %}{{item.name}}{% endblock %}
{% block styles %}
    {{super()}}
{% endblock %}


{% block body %}
{% block nav %}
    <nav class="flex-nav" style="padding-left: 15px; padding-top: 15px;">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-secondary mx-1" href="/home" role="button">Home</a>
            </div>
            {% if user.user_id == current_usr or is_admin %}
                <div class="btn-group">
                    <a class="btn btn-secondary mx-1" href="/delete-item/{{item.item_id}}" role="button">Delete Posting</a>
                </div>
            {% endif %}
            {% if is_admin %}
                <div class="btn-group">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin Controls
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/admin/delete/{{item.item_id}}">Hard Delete Post</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if user.user_id == current_usr %}
                <div class="btn-group">
                    <a class="btn btn-secondary mx-1" href="/edit-post/{{item.item_id}}" role="button">Edit Item</a>
                </div>
            {% endif %}
        </div>
    </nav>
{% endblock %}

<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="d-md-none" id="mobile view">
            {% if item.img_path %}
                <img class="img-fluid" style="height: 600px; width: 600px;" src="{{url_for('static', filename = 'images/{}'.format(item.img_path))}}" alt="pr-sample23"/>
            {% else %}
                <img class="img-fluid" style="height: 600px; width: 600px;" src="{{url_for('static', filename = 'images/no_image.png')}}" alt="pr-sample23"/>
            {% endif %}
            <div class="px-2">
                <h1>{{item.name}}</h1>
                <h2>${{item.price}}</h2>
                <p>{{item.description}}</p>
                <strong style="color: #333"> 
                    Email: {{user.email}} 
                    <br> 
                    Phone: {{user.phone_number}}
                </strong>
            </div>
        </div>
        <div class="col-7 d-none d-md-block">
            {% if item.img_path %}
                <img class="img-fluid" style="height: 600px; width: 600px;" src="{{url_for('static', filename = 'images/{}'.format(item.img_path))}}" alt="pr-sample23"/>
            {% else %}
                <img class="img-fluid" style="height: 600px; width: 600px;" src="{{url_for('static', filename = 'images/no_image.png')}}" alt="pr-sample23"/>
            {% endif %}        
        </div>
        <div class="col-5 d-none d-md-block">
            <div class="col">
                <h1>{{item.name}}</h1>
                <h2>${{item.price}}</h2>
            </div>
            <hr>
            <div class="col">
                <p>{{item.description}}</p>
                <strong style="color: #333"> 
                    Email: {{user.email}} 
                    <br> 
                    Phone: {{user.phone_number}}
                </strong>
            </div>
        </div>
    </div>
    <hr>
    <div class="row my-3">
        <div class="row px-2">
            <h3 class="expanded-card-padding-ymal">You may also like</h3>
        </div>
        <div class="row">
            {% for item in suggested_items %}
            <div class="col-sm">
                <a href="/expanded-card/{{item.item_id}}">
                    <img class="img-fluid" style="height: 400px; width: 400px;" src="{{url_for('static', filename = 'images/{}'.format(item.img_path))}}">
                </a>
                <h4>{{item.name}}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
