{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename = 'stylesheets/expanded.css')}}">
{% endblock %}


{% block body %}
{% block nav %}
    <nav class="flex-nav" style="padding-left: 15px; padding-top: 15px;">
        <div class="menu">
            <a class="btn btn-secondary mx-1" href="/home" role="button">Home</a>
            {% if user.user_id == current_usr or is_admin %}
                <a class="btn btn-secondary mx-1" href="/delete-item/{{item.item_id}}" role="button">Delete Posting</a>
            {% endif %}
            {% if is_admin %}
                <a class="btn btn-secondary mx-1" href="/admin/delete/{{item.item_id}}" role="button">Admin Delete Posting</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}

<main>
    <div class="container">
        <div class="grid second-nav">
        </div>
        <div class="grid product">
            <div class="column-xs-12 column-md-7">
                <div class="product-gallery">
                    <div class="product-image">
                        {% if item.img_path %}
                        <img src="{{url_for('static', filename = 'images/{}'.format(item.img_path))}}" alt="pr-sample23"/>
                        {% else %}
                        <img src="{{url_for('static', filename = 'no_image.png')}}" alt="pr-sample23"/>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="column-xs-12 column-md-5">
                <h1>{{item.name}}</h1>
                <h2>${{item.price}}</h2>
                <div class="description">
                    <p>{{item.description}}</p>
                    <br><strong style="color: #333"> Email: {{user.email}} <br> Phone: {{user.phone_number}}
                </strong></p>
                </div>
            </div>
        </div>
        <div class="grid related-products">
            <div class="column-xs-12">
                <h3>You may also like</h3>
            </div>
            {% for item in suggested_items %}
            <div class="column-xs-12 column-md-4">
                <a href="/expanded-card/{{item.item_id}}">
                    <img src="{{url_for('static', filename = 'images/{}'.format(item.img_path))}}"
                         style="height: 400px; width: 400px;">
                </a>
                <h4>{{item.name}}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
