<link href="https://people.rit.edu/~dmb4086/TigerX/main.css" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->


{% block title %}{% endblock %}
<body style="background-color: #f76902;"></body>
<div class="shadow-lg" style="padding-left: 15px; padding-top: 15px;">
</div>
{% block body %}
<div class="shadow-lg container" style="padding-top: 100px; width: 45vw; margin: auto;">
    <div style="text-align: center; padding-bottom: 15px;">
        <img src="{{url_for('static', filename = 'white_logo.png')}}" style="width: 200px;"/>
    </div>
    <div class="jumbotron" style="border-radius: 20px;">
        <div style="text-align: center;">
            <h1 style="color: #f76902;">Posting created</h1>
            <a href="/home" class="Loginbtn Loginbtn--a mbm" style="margin-top: 2vw;">Home</a>
            <div class="separate">
            </div>
        </div>
        <br>
    </div>
</div>
{% endblock %}