{% extends "base.html" %}

{% block title %}{{user.full_name}}'s Profile{% endblock %}

{% block body %}
{% block nav %}
{{super()}}
{% endblock %}
<div style="padding: 80px;" class="container-fluid">
    <div style="padding-bottom: 15px;">
        <h2>Your Information</h2>
        <div style="padding-left:10px;">
            <h4>Name: {{user.full_name}}</h4>
            <h4>Email: {{user.email}}</h4>
            <h4>Phone Number: {{user.phone_number}}</h4>
        </div>
    </div>

    {% if deleted_items %}
    <div class="my-4">
        <h2>Admin: Soft Deleted Items</h2>
        {% for item in deleted_items %}
        <a href="/expanded-card/{{item.item_id}}"
        class="list-group-item list-group-item-warning list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">{{item.name}}</h4>
                <small>Deleted: {{item.deleted_at}}</small>
            </div>
            <p class="mb-1">{{item.description}}</p>
            <small>${{item.price}}</small>
        </a>
        {% endfor %}
    </div>
    {% endif %}

    <h2>Your active postings</h2>
    {% for item in items %}
    <a href="/expanded-card/{{item.item_id}}"
       class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">{{item.name}}</h4>
            <small>Created: {{item.created_at}}</small>
        </div>
        <p class="mb-1">{{item.description}}</p>
        <small>${{item.price}}</small>
    </a>
    {% endfor %}
</div>
{% block footer %}
{{super()}}
{% endblock %}
{% endblock %}