{% extends "base.html" %}

{% block title %}Sell{% endblock %}

{% block styles %}
    {{super()}}
    <style type="text/css">
        body {
            background-color: #f76902 !important;
        }
    </style>
{% endblock %}

{% block body %}

<div class="pl-3 pt-3">
    <a class="btn btn-light mx-1" href="/home" style="width: 80px;" role="button">Home</a>
</div>
<div class="shadow-lg container mobile-vs-desktop-card" style="margin: auto;">
    <div style="text-align: center; padding-bottom: 15px;">
        <img class="img-fluid" src="{{url_for('static', filename = 'white_logo.png')}}" style="width: 200px;" />
    </div>
    <div class="jumbotron" style="border-radius: 20px;">
        <div style="text-align: center;">
            <form method="post" action="/sell_item" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control" name="Item_Name" placeholder="Item Name"
                        style="border:1px solid #f76902" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" name="Price" placeholder="Price"
                        style="border:1px solid #f76902" required>
                </div>
                <div class="form-group">
                    <textarea rows="7" cols="30" class="form-control" name="Description" placeholder="Description"
                        style="border:1px solid #f76902" maxlength="500" required></textarea>
                </div>
                <div class="form-group">
                    <label class="float-left">Category</label>
                    <select class="form-control" style="border:1px solid #f76902" name="Category" required>
                        <option>Books</option>
                        <option>Tutoring</option>
                        <option>Electronics</option>
                        <option>Furniture</option>
                        <option>Kitchenware</option>
                        <option>Games</option>
                        <option>Clothing</option>
                        <option>Miscellaneous</option>
                        <option>Outdoors</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="file" placeholder="Select Picture" name="pic" accept="image/*" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
            </form>
        </div>
        <br>
    </div>
</div>
{% block footer %}
{{super()}}
{% endblock %}
{% endblock %}