{% extends "base.html" %}

{% block title %}Signup Confirmation{% endblock %}

{% block body %}
  <body style="background-color: #f76902;">
    <div class="shadow-lg" style="padding-left: 15px; padding-top: 15px;">
    </div>
    <div class="shadow-lg container" style="padding-top: 100px; width: 45vw; margin: auto;">
      <div style="text-align: center; padding-bottom: 15px;">
        <img src="https://i.imgur.com/m3FalyO.png" style="width: 200px;" />
      </div>
      <div class="jumbotron" style="border-radius: 20px;">
        <div style="text-align: center;">
          <h1 style="color: #f76902;">Thanks for signing up, Tiger!</h1>
          <a href="/login" class="Loginbtn Loginbtn--a mbm" style="margin-top: 2vw;">Home</a>
        </div>
        <br>
      </div>
    </div>
  </body>
{% endblock %}