.header-clearfix {
    background-color: #F76902;
}

.colorx {
    background-color: #F76902;
    width: 100%;
    margin-bottom: -1em;
    overflow: hidden;
    height: 8vh;
}

.search-container {
    width: 35vw;
    display: block;
    margin: 0 auto;
}

.item-card-cost-pill {
  position: relative;
}

.cost-pill-span {
  position: absolute;
  top: 10px;
  left: 10px;
}

.mobile-vs-desktop-card {
  width: 50vw !important;
}

.profile-page-card {
  padding-top: 80px;
  width: 80vw !important;
}

@media only screen and (max-width: 600px) {
  .mobile-vs-desktop-card {
    width: 80vw !important;
  }

  .expanded-card-padding-ymal {
    padding: 10px;
  }
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

.mbm,
p {
    margin-bottom: 1.5rem;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

.Loginbtn {
    backface-visibility: hidden;
    border-radius: 5px;
    color: #F76902;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    padding: 0.75rem 1.5rem;
    text-align: center;
    transition: 0.1s linear;
    margin-right: 2vw;
}

.Loginbtn:hover,
.btn:focus {
    outline: 0;
}

.Loginbtn:active {
    transform: translateY(4px);
}

.Loginbtn--a {
    background-color: #ffff;
    border: 1px solid #808080;
    box-shadow: inset 0 1px #bebebe, 0 5px #808080;
    text-shadow: 0 -1px 0 #88233c;
}

.Loginbtn--a:hover,
.btn--a:focus {
    background-color: #FD6A02;
    border-color: #B7410e;
    box-shadow: inset 0 1px #B7410e, 0 5px #B7410e;
    text-shadow: 0 -1px 0 #808080;
    color: #ffff;
}

.Loginbtn--a:active {
    box-shadow: inset 0 1px #ffff, 0 1px #ffff;
    text-shadow: 0 -1px 0 #808080;
}


.btn-2-dev {
    backface-visibility: hidden;
    border-radius: 5px;
    color: #ffff;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    padding: 0.75rem 1.5rem;
    text-align: center;
    transition: 0.1s linear;
    margin-right: 2vw;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,600,700);
